/*Header*/
.organism_header{
	box-sizing: border-box;
	width: 100%;
	overflow:hidden;
	background-color: $color_primary--transparent;
	padding: 10px;

	> .atom_heading-1{
		text-decoration: none;
		cursor: pointer;
		display: inline-block;
		margin-top: 38px;
		margin-bottom: 22px;
		margin-left: 32px;
		color: white;
		float:left;
		text-shadow: rgba(51, 51, 51, 1) 1px 1px 1px;
	}

	.molecule_profile-box{
		display: inline-block;
		float: right;
		margin-right: 2%;
		box-shadow: #666 0px 2px 5px;
	}

	@media #{$breakpoint_1}{
		> .atom_heading-1{
			font: $font_heading-2;
			margin-top: 10px;
			margin-bottom: 10px;
			margin-left: 15px;
		}
	}
}
