/*Navigation Bar*/

.organism_navbar{
	width: 170px;
	box-shadow: #bbb 0px 1px 2px;
	background-color: white;

	.molecule_menu{
		width: 170px;
		height: auto;
		font-size: 0; /* Fix gaps between inline-blocks */

		.container{
			margin-bottom: -1px;
		}
	}

	.molecule_menu:last-child{
		.container{
			margin-bottom: 0px;
		}
	}

}

