/*Menu Item, <div> <img> </div>*/


.atom_menu-head{
	border: $color_primary--light 1px solid;
	display:inline-block;
	box-sizing: border-box;
	font: $font_menu-head;
	color: $color_primary;
	background-color: white;
	width: 170px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 7px;
	padding-bottom: 12px;
	word-wrap: break-word;
	transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;

}

.atom_menu-head:hover{
	cursor: pointer;
	color: white;
	background-color: $color_primary--light;
	transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
}

.atom_menu-head:active{
	background-color: $color_primary--dark;
	transition: all 0.0s ease-out;
	-webkit-transition: all 0.0s ease-out;
}

.atom_menu-head:focus{
	outline: 0;
}

