.molecule_single-offer{
	max-width: 600px;
	/*max-height: 70vh;*/
	margin-left: 195px;
	margin-right: 10px;
	padding: 0;
	border: 0;
	overflow: hidden;
	position: relative;

	.molecule_single-offer__overlay{
		z-index: 2;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		position: absolute;
		box-sizing: border-box;
		background-color: $color_primary--darkest;
		opacity: 0;
		transition: opacity 400ms;
		padding: 20px;

		.atom_paragraph,
		.atom_heading-1,
		.atom_heading-2,
		.atom_ul{
			color: white;
		}
	}

	.atom_img{
		cursor: default;
		max-width: 100%;
		width:auto;
		height:auto;
		display: block;
		margin: auto;
		align: center;
	}
		
	.molecule_single-offer__desc{
		display: block;
		width: 100%;
		padding-top: 11px;
		padding-bottom: 18px;
		padding-left: 20px;
		padding-right: 20px;
		margin: 0;
		box-sizing: border-box;
		background-color: $color_primary--lightest;
		color:white;
		/*position: absolute;*/
		top: 0px;
		/*opacity: 0.76;*/
		font-weight: 500;
	}
	
	.molecule_single-offer__price{
		display: block;
		padding-top: 12px;
		padding-bottom: 15px;
		padding-left: 20px;
		padding-right: 20px;
		margin: 0;
		box-sizing: border-box;
		background-color: $color_secondary;
		color:white;
		position: absolute;
		bottom: 0px;
		right: 0px;
		font-weight: 500;
	}
}

.molecule_single-offer:hover{
	.molecule_single-offer__overlay{
		opacity: 0.95;
	}
}
