<!doctype html>
<html>
  <head>
    <title>Naissur Coding | {{ page.title }}</title>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700|Open+Sans:400,300,600|Open+Sans+Condensed:300&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/styles.css">
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="{{ page.title }}"/>
    <meta property="og:site_name" content="Naissur's Website and Blog"/>
    <meta property="og:type" content="blog"/>
  </head>
  <body>
    <div class="page-wrapper">
      {{ content }}
      <br/>
      Interested in common business? Write an email to <a href="mailto:vlad.aituganov@gmail.com?Subject=KV%20Business">
        vlad.aituganov@gmail.com:)
      </a>
      <br/>
      <br/>
      {% if page.comments %}
        <div id="disqus_thread"></div>
        <script>

          (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://naissur-github-io.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
          })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript><F10>
      {% endif %}
    </div>
  </body>
</html>

